.blog-section {
  background-color: var(--white);
  margin: 0 auto;
  text-align: center;
}
.blog-header-container h1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  color: var(--highlight-pink);
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.blog-body {
  padding-top: 2%;
  padding-bottom: 3%;
  color: var(--dark-text-color);
}
.blog-body h1 {
  margin-bottom: 2%;
}
.blog-title {
  width: 40%;
}
.article-container {
  width: 90%;
  margin: 0 auto;
  background-color: var(--white);
  border: 2px solid var(--main-ic-color);
}
