.blog-section {
  color: #f5efff;
  margin: 0 auto;
  text-align: center;
}
.blog-header-container {
  background-image: url('../keyboard.jpg');
  background-color: var(--main-ic-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-body {
  padding-top: 2%;
  padding-bottom: 3%;
}
.blog-title {
  width: 40%;
}
