.contact-section {
  margin: 0 auto;
  text-align: center;
}
.contact-header-container {
  background-image: url('../keyboard.webp');
  background-color: var(--main-ic-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-body {
  padding-top: 2%;
  padding-bottom: 3%;
  background-color: var(--main-ic-color);
}
.contact-title {
  width: 55%;
}
.contact-text {
  color: var(--white);
  margin-bottom: 2%;
}
.contact-icons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.icon-container {
  width: 3rem;
  height: 3rem;
  background-color: var(--white);
  border: 2px solid var(--highlight-purple);
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}
.icon-phone,
.icon-mail,
.icon-in,
.icon-github {
  width: 60%;
  height: 60%;
  background-color: transparent;
  margin: 20%;
}
.icon-container:hover {
  background-color: var(--highlight-purple);
  border: 2px solid var(--white);
}
