.contact-section {
  background-color: var(--white);
  color: var(--dark-text-color);
  text-align: center;
  border: 1px solid blue;
}
.contact-header-container {
  background-image: url('../keyboard-dark.webp');
  background-color: var(--highlight-pink);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-title {
  width: 40%;
}
.contact-body {
  width: 90%;
  margin: 0 auto;
  border: 1px solid green;
}
.contact-text {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3%;
  border: 1px solid red;
}
.contact-text p {
  margin-top: 1%;
}
