.learn-section {
  margin: 0 auto;
  text-align: center;
  background-color: var(--main-bg-color);
}

.learn-body {
  padding-top: 2%;
  padding-bottom: 3%;
}

.learn-header-container {
  background-color: var(--secondary);
}

.learn-title {
  width: 40%;
  padding-bottom: 1%;
}
/*Grouped resources container*/
.resources-container {
  border: 2px solid var(--dark-text-color);
  background-color: var(--light-text-color);
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}
.resources-container h1 {
  padding: 0.5% 0;
  color: var(--main-bg-color);
}

/*Grouped resources container without h1*/
.resource-details-container {
  /* border: 1px solid red; */
  border-top: 2px solid var(--dark-text-color);
  background-color: var(--highlight-blue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/*Single resource container*/
.resource-details {
  width: 31%;
  border: 1px solid var(--dark-text-color);
  margin: 1% 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: var(--light-text-color);
}

/*Resource json data*/
.resource-video {
  width: 40%;
  height: auto;
  margin: 0 auto;
}

.resource-img {
  width: 20%;
}
.resource-text {
  width: 80%;
  padding: 2%;
  text-align: left;
  overflow: auto;
}
.resource-title {
  color: var(--dark-text-color);
  font-size: 0.8rem;
  padding: 1% 0;
}
.resource-by {
  color: var(--highlight-purple);
  border-bottom: 1px solid;
  margin-bottom: 1%;
  font-size: 0.75rem;
  padding-bottom: 1%;
}
.resource-description {
  color: var(--dark-text-color);
  font-size: 0.7rem;
  padding: 1% 0;
}
.resource-categories {
  color: var(--highlight-blue);
  font-size: 0.65rem;
}
.resource-btn {
  cursor: pointer;
  background-color: var(--secondary);
  margin: 0 auto;
}
.resource-btn:hover {
  background-color: var(--main-bg-color);
}
.resource-btn a {
  color: var(--main-bg-color);
  text-decoration: none;
}
.resource-btn a:hover {
  color: var(--light-text-color);
}
