.learn-section {
  margin: 0 auto;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
}
.learn-header-container {
  background-image: url('../keyboard.webp');
  background-color: var(--highlight-pink);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.learn-title {
  width: 40%;
}
