/*Login*/
.login-form {
  width: 90%;
  margin: 0 auto;
  padding-top: 0.5%;
}
.login-input {
  border: 1px solid var(--black);
  padding: 0.2%;
  margin: 0.2% 0;
}
.login {
  text-align: left;
  padding: 0.3% 0;
  padding-bottom: 1%;
}
.login-btn {
  padding: 0.5%;
  border: 1px solid var(--dark-text-color);
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: var(--highlight-pink) 0px 1px 5px;
  color: var(--dark-text-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
}
/*User bar*/
.welcome-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*Welcome*/
.welcome-sentence {
  width: 30%;
  padding: 0.5%;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
.welcome-sentence p {
  font-size: 0.9rem;
}
/*Random Quote*/
.intro-quote {
  width: 70%;
  font-size: 0.9;
  padding: 0%;
  text-align: right;
}
.intro-quote p {
  font-size: 0.9rem;
  margin: 0;
  padding-right: 0;
  text-align: right;
}
.random-quote {
  padding: 0;
}
.quote {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 600;
  padding: 0.5%;
}
.author {
  font-size: 0.9rem;
  font-style: italic;
  padding: 0.5% 0;
}
/*User Status*/
.user-status-wrapper {
  width: 80%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
.user-status-choice {
  padding: 0.5%;
}
.user-status {
  padding: 0.5%;
}
.user-status-choice p {
  padding: 0;
  font-size: 0.9rem;
}
.user-status-sentence {
  font-size: 0.9rem;
  font-weight: 500;
  padding-top: 0.5%;
  text-align: left;
  padding-left: 0;
}
/*Buttons*/
.status-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 0.5%;
}
.status-btn {
  margin: 0% 0.5%;
  padding: 2% 3%;
  border: 1px solid var(--dark-text-color);
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: var(--highlight-pink) 0px 1px 5px;
  color: var(--dark-text-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.15s;
  font-size: small;
  cursor: pointer;
}
.status-btn:hover {
  background-color: var(--dark-text-color);
  color: var(--white);
  border: 1px solid var(--white);
}
.logout {
  width: 9%;
  padding: 0.5% 0;
  text-align: right;
}
.logout-btn {
  margin: 0.5% 0;
  padding: 5%;
  border: 1px solid var(--dark-text-color);
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: var(--highlight-pink) 0px 1px 5px;
  color: var(--dark-text-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.15s;
  font-size: small;
  cursor: pointer;
}
.login-btn:hover,
.logout-btn:hover {
  background-color: var(--dark-text-color);
  color: var(--white);
  border: 1px solid var(--white);
}
/*Small devices*/
@media screen and (max-width: 640px) {
  .login-input {
    padding: 0.5%;
    margin: 0;
    font-size: 0.6rem;
  }
  .login-btn {
    font-size: 0.5rem;
    padding: 1.5%;
  }
  /*User bar*/
  .welcome-wrapper {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /*Welcome*/
  .welcome-sentence {
    width: 30%;
  }
  .welcome-sentence p {
    font-size: 0.6rem;
  }
  /*Random Quote*/
  .intro-quote {
    text-align: right;
    width: 70%;
    font-size: 0.6rem;
    padding: 0%;
  }
  .intro-quote p {
    font-size: 0.6rem;
    margin: 0;
    padding-right: 0;
    text-align: right;
  }
  .random-quote {
    padding: 0;
  }
  .quote {
    font-size: 0.6rem;
    font-weight: 600;
    padding: 0.5%;
  }
  .author {
    font-size: 0.6rem;
    padding: 0.5% 0;
  }
  /*User Status*/
  .user-status-wrapper {
    width: 80%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.6rem;
  }
  .user-status-choice p {
    padding: 0;
    font-size: 0.6rem;
  }
  .user-status-sentence {
    font-size: 0.6rem;
    font-weight: 400;
    padding-top: 0.5%;
    text-align: left;
    padding-left: 0;
  }
  /*Buttons*/
  .status-btn {
    font-size: 0.5rem;
  }
  .logout {
    width: 20%;
    padding: 0;
  }
  .logout-btn {
    margin: 0;
    padding: 3% 5%;
    font-size: 0.5rem;
  }
}
