.companies {
  background-image: linear-gradient(to top, #b9b4ff, #ccc6ff, #ded9ff, #efecff, #ffffff);
}
.company-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.company-card {
  background-color: var(--white);
  border: 3px solid var(--main-ic-color);
  border-radius: 8%;
  margin: 1%;
  width: 21%;
  max-height: 300px;
  overflow: hidden;
  color: var(--dark-text-color);
}
.company-name {
  color: var(--dark-text-color);
  background-color: var(--highlight-purple);
  padding: 3%;
}
.company-img {
  width: 100%;
  display: block;
}
.company-topic {
  color: var(--white);
  background-color: var(--main-ic-color);
  font-size: 0.85rem;
  padding: 1.5%;
}
.company-modal-btn {
  color: blue;
  background-color: aquamarine;
}
