.inspo-section {
  margin: 0 auto;
  text-align: center;
  background-color: var(--white);
  color: var(--dark-text-color);
}
.inspo-header-container {
  background-image: url('../keyboard.webp');
  background-color: var(--highlight-pink);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inspo-title {
  width: 40%;
}
.inspo-text {
  background-color: var(--highlight-pink);
  color: var(--white);
}
.inspo-text h2 {
  padding: 2%;
  width: 90%;
  margin: 0 auto;
  background-color: var(--highlight-pink);
}
