:root {
  --main-bg-color: #4c36bb;
  --main-ic-color: #4c36bb;
  --secondary: #0089f6;
  --highlight-aqua: #56fbdb;
  --dark-text-color: #4a4453;
  --highlight-blue: #00c7f3;
  --highlight-purple: #c39bff;
  --white: #fbfcfa;
  --black: #030104;
  /* --light-text-color: #dfebf7; */
  /* --dark-text-color: #230c33; */
  /* --secondary: #9984d4; */
  /* --dark-text-color: #091e51; */
  /* --highlight-blue: #1dbef5; */
  /* --light-text-color: #f5efff; */
  /* --highlight-purple: #592e83; */
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 80px);
}

body {
  background-color: var(--main-bg-color);
  color: var(--light-text-color);
}

.main-wrapper {
  background-color: red;
}
