:root {
  --main-ic-color: #4c36bb;
  /* --secondary: #0089f6; */
  --highlight-aqua: #56fbdb;
  --dark-aqua: #00c2a4;
  --highlight-purple: #b9b4ff;
  --aqua-rgba65: rgba(86, 251, 219, 0.65);
  --aqua-rgba90: rgba(86, 251, 219, 0.9);
  --dark-text-color: #4a4453;
  --light-text-color: #969a97;
  /* --highlight-blue: #00c7f3; */
  --highlight-pink: #f90093;
  /* --highlight-purple: #c39bff; */
  --white: #fbfcfa;
  --black: #000;
  /*#030104*/
  /* --light-text-color: #dfebf7; */
  /* --dark-text-color: #230c33; */
  /* --secondary: #9984d4; */
  /* --dark-text-color: #091e51; */
  /* --highlight-blue: #1dbef5; */
  /* --light-text-color: #f5efff; */
  /* --highlight-purple: #592e83; */
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 80px);
}

body {
  color: var(--dark-text-color);
}
