:root {
  --main-bg-color: #4c36bb;
  --secondary: #9984d4;
  --light-text-color: #f5efff;
  --dark-text-color: #230c33;
  --highlight-blue: #1dbef5;
  --highlight-purple: #592e83;
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 80px);
}

body {
  background-color: var(--main-bg-color);
  color: var(--light-text-color);
}
