.companies {
  background-image: linear-gradient(to top, #b9b4ff, #ccc6ff, #ded9ff, #efecff, #ffffff);
}
.company-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.company-card {
  background-color: var(--white);
  border: 3px solid var(--main-ic-color);
  border-radius: 8%;
  margin: 1%;
  width: 21%;
  overflow: hidden;
  color: var(--dark-text-color);
}
.company-header {
  color: var(--dark-text-color);
  background-color: var(--highlight-purple);
  text-align: center;
  padding: 3%;
}
.company-name {
  color: var(--dark-text-color);
  text-decoration: none;
}
.company-name:hover {
  color: var(--highlight-aqua);
}
.company-details {
  background-color: var(--dark-text-color);
  color: var(--white);
  font-size: 0.85rem;
  padding: 2%;
  text-align: center;
}
.img-container {
  position: relative;
  text-align: center;
  color: var(--black);
}
.company-img {
  width: 100%;
  display: block;
}
.company-description {
  position: absolute;
  top: 6%;
  left: 3%;
  right: 3%;
  bottom: 6%;
  transform: translate (-50%, -50%);
  font-size: 0.78rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8% 10% 12% 10%;
  line-height: 1.2;
  border-radius: 1rem;
}
.web-icon {
  width: 9%;
  position: absolute;
  top: 75%;
  left: 45%;
  background-color: var(--white);
  border-radius: 50%;
}
.web-icon:hover {
  background-color: var(--main-ic-color);
}
