.companies {
  /* background-image: linear-gradient(to top, #b9b4ff, #ccc6ff, #ded9ff, #efecff, #ffffff); */
  background-color: var(--white);
}
.company-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.company-card {
  background-color: var(--main-ic-color);
  border: 3px solid var(--main-ic-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8%;
  margin: 1%;
  width: 21%;
  color: var(--dark-text-color);
  overflow: hidden;
}
.company-card:hover {
  border: 3px solid var(--highlight-purple);
  background-color: var(--highlight-purple);
  cursor: pointer;
}
.company-header {
  background-color: var(--white);
  margin: 0 auto;
  padding: 2%;
  text-align: center;
}
.company-name {
  color: var(--dark-text-color);
  text-decoration: none;
  padding-bottom: 1%;
  font-size: 1.2rem;
}
.company-country {
  font-size: 0.9rem;
}
.company-details {
  background-color: var(--main-ic-color);
  color: var(--white);
  font-size: 0.85rem;
  padding: 2%;
  text-align: center;
}
.img-container {
  position: relative;
  max-height: 200px;
}
.company-img {
  display: block;
  position: relative;
  width: 100%;
  min-height: 200px;
}
.company-description {
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  padding: 5%;
  border-radius: 1rem;
  max-height: 160px;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  overflow: auto;
}
