.name-form {
  width: 80%;
  margin: 0 auto;
  padding-top: 0.5%;
  color: var(--dark-text-color);
}
.name-form-label {
  width: 50%;
  margin: 0 auto;
}
.name-form-input {
  margin: 0 auto;
  margin-left: 1%;
  padding: 0.5% 0 0.5% 0.5%;
  border: 1px solid var(--dark-text-color);
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.name-form-btn {
  margin: 0 auto;
  margin-left: 1%;
  display: inline-block;
  padding: 0.55em 0.7em;
  border: 1px solid var(--dark-text-color);
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--dark-text-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.15s;
  font-size: 0.8rem;
  cursor: pointer;
}
.name-form-btn:hover {
  background-color: var(--dark-text-color);
  color: var(--white);
}
