.about-section {
  color: var(--white);
  margin: 0 auto;
  text-align: center;
}
.about-body {
  padding-top: 0;
  /* background-color: var(--highlight-purple); */
  /* background-image: linear-gradient(to top, #4c36bb, #7c67cf, #a799e1, #d2cbf1, #ffffff); */
  background-image: linear-gradient(to top, #b9b4ff, #ccc6ff, #ded9ff, #efecff, #ffffff);
  color: var(--dark-text-color);
  padding-bottom: 4%;
}
.about-header-container {
  margin-top: 800px;
}
.about-title {
  display: block;
  width: 40%;
  margin: 0 auto;
}
.hi-text {
  font-size: 1.2rem;
  padding-top: 3%;
  padding-bottom: 1%;
}
.name {
  font-weight: 600;
  font-size: 2rem;
  color: var(--main-ic-color);
}
.profile {
  width: 25%;
  border-radius: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.question {
  font-size: 1.5rem;
  width: 60%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 1%;
  color: var(--main-ic-color);
}
.first-intro-text {
  padding-top: 1.5%;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  font-size: 1rem;
}
.first-intro-text p {
  padding-bottom: 1%;
}
.intro-text {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  font-size: 1rem;
}
.intro-text p {
  padding-bottom: 1%;
}
.intro-text a {
  color: var(--main-ic-color);
  cursor: pointer;
}
.intro-text a:hover {
  opacity: 0.7;
}
