.navbar {
  width: 100%;
  background: #f5efff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
}

.logo-container {
  cursor: pointer;
  margin-left: 5%;
}

.logo {
  width: 150px;
  display: block;
  background: #f5efff;
}

.links-container {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin: 0 5% 0 3%;
  background: #f5efff;
}

.link {
  text-decoration: none;
  color: #4c36bb;
  background: #f5efff;
}

.link:hover {
  color: #1dbef5;
}
