.navbar {
  width: 100%;
  background: #f5efff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-bottom: 6px solid var(--highlight-blue);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo-container {
  cursor: pointer;
  margin-left: 5%;
}

.logo {
  width: 150px;
  display: block;
  background: #f5efff;
}

.links-container {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin: 0 5% 0 3%;
  background: #f5efff;
}

.link {
  text-decoration: none;
  color: #4c36bb;
  background: #f5efff;
}

.link:hover {
  color: #1dbef5;
}
